* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	padding-top: 41px;
	/* overflow-y: scroll; */
	color: #D0D0D0;
	background-color: #181818;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

a {
	color: #DDD;
}

td a {
	color: rgb(102, 112, 255);
	text-decoration: none;
	font-weight: bold;
}

section {
	padding: 80px 0;
}


.row {
	/* max-width: 2480px !important; */
	margin: 0 auto;
}

.navbar {
	margin-bottom: 0px;
	padding: 0px 0px 0px 10px;
}

.navbar-title {
	font-size: 1.2rem;
	margin-top: 10px;
	margin-left: 40px;
}


.container {
	max-width: 1600px;
}

.label {
	margin-top: 12px;
	color:#C0C0C0;
	font-weight:300;
	width: 200px;
}

select[disabled], input[disabled] {
    background-color: #303030 !important;
}

.form-check-input {
	margin-top:0px !important;
	position:relative;
	top:0px;
	left: 40px;
	width: 30px;
	height: 30px;
	background-color: #222;
	color: rgb(200,200,255);
}



.datepicker {
    min-width:125px;
}
html, body {
    min-height: 100% !important;
    width:100%;
}



.btn {
	min-width: 150px;
	background-image: none;
	/* background-color: #272727; */
	background-color: #303030 !important;
	color:#CBCBCB !important;
	border: 1px solid #424242 !important;
	border-radius: 5px;
	text-transform: none;
	border-width: 1px;
	padding: 0.25rem 0.5rem;
}

.btn-secondary {
	background-color: #303030 !important;
	color:#CBCBCB !important;
	border: 1px solid #424242 !important;
}

.btn-secondary:active, .btn-secondary:hover, .btn-secondary:focus,
.btn-primary:active, .btn-primary:hover, .btn-primary:focus,
.btn-success:active, .btn-success:hover, .btn-success:focus,
.btn-warning:active, .btn-warning:hover, .btn-warning:focus,
.btn-danger:active, .btn-danger:hover, .btn-danger:focus,
.btn-info:active, .btn-info:hover, .btn-info:focus {
	background-image:none;
	/* background-color: #313131 !important; */
	background-color: #383838 !important;
	border-color: #757575;
	color:#E7E7E7;
}

.btn-success {
	background-color:#207020 !important;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
	background-color:#109010 !important;
}

.btn-primary {
	background-color: #404080 !important;;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #5050A0 !important;;
}

.btn-danger:active,
.btn-primary:active,
.btn-success:active, .btn-success:focus {
	border-color: #E7E7E7 !important;
}


.btn-solid.btn-primary {
	background-color: #004088 !important;;
}

.btn-solid:hover.btn-primary,
.btn-solid:active.btn-primary,
.btn-solid:focus.btn-primary {
	background-color: #0051ad !important;
}

.btn-large {
	font-size: 24px;
	font-weight: 300;
	min-width: 240px;
	border: 1px solid #424242;
	border-radius: 3px;
	text-transform: none;
	border-width: 1px;
	padding: 0.5rem 2rem;
}

textarea, select, input, button, li, a {
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

input, input:focus,input:active:focus,input.active:focus,
input.focus,input:active.focus,input.active.focus,
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
		outline: none !important;
		box-shadow:none !important;
		-webkit-box-shadow: none !important;
	}



.form-control {
	height: calc(1.5em + .75rem + 6px);
	font-size: 14px;
  padding: 2px 12px;
  font-weight: 300;
	background-color: #181818;
	color: #E0E0E0;
	border-radius: 4px;
}

.form-control:focus {
  color: #FFF;
  background-color: #222;
  border-color: #808080;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::placeholder {
	/* color: rgba(0, 0, 0, 0.2); */
  color: #808080;
	/* text-transform: uppercase; */
	font-weight: 400;
}

.form-control:disabled {
  background-color: #333;
  color: #808080;
  opacity: 1;
}


select.form-control:focus::-ms-value {
  color: #FFF;
  background-color: #333;
}

select.decorated option:hover {
	box-shadow: 0 0 10px 100px #1882A8 inset;
}

.form-control {
	border: 1px solid #303030;
}

.navbar {
	height: 40px;
	background-color: #303030;
}

select {

  /* make arrow and background */

  background:
    linear-gradient(45deg, transparent 50%, #D0D0D0 50%),
    linear-gradient(135deg, #D0D0D0 50%, transparent 50%);
  background-position:
    calc(100% - 19px) calc(1em + 2px),
    calc(100% - 14px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;

  border-radius: 0;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
  -moz-appearance:none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}






select > option { color: #E0E0E0; }

input[type=checkbox] {
	display: inline-block;
	width: 29px;
	height: 34px;
	background-color: #181818;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-appearance: none;
	border: 1px solid #303030;
	border-radius: 3px;
}
input[type=checkbox]:checked {
	background-image: url(check.png);
}
input[type=checkbox]:not(:checked) {
	background-image: url(blank.png);
}






















.form-control[readonly] {
  background-color: #282828 !important;
  color: #fff;
	opacity: 1;
	pointer-events: none;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #303030; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
	margin:2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #AAA; 
}




.col-full {
	flex-grow: 0;
	width: 100%
}

.col-half {
	flex-grow: 0;
	width: 50%
}

.col-third {
	flex-grow: 0;
	width: 33.3333333333%
}

.row {
	width: 100%;
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 800px !important;
}

.alertify {
	background-color: #207020;
	color: #fff;
	text-align: center;
	padding: 40px;
  transition: opacity 0.15s linear;
	border: 1px solid #FFF;
	position: absolute;
	top: 120px;
	width: calc(100% - 80px);
	left: 40px;
}

.div-centre {
	text-align: center;

}

@media only screen and (max-width: 720px) {

	.navbar-title {
		text-align:center;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 480px) {

	.col-half {
		width: 100%
	}
	
	.col-third {
		width: 100%
	}

	
}
